html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

div#logo {
    font-size: 64px;
    margin-bottom: 16px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
h1#title {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #24a1de;
}
div#login, div#controls {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
div#donation {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
div#login input.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
div#login button#loginButton {
    background-color: #24a1de;
    border-color: #24a1de;
}
div#controls button {
    background-color: #fff;
    color: #24a1de;
}
div#controls button:hover, div#controls button:active {
    background-color: #24a1de;
    color: #fff;
}
div#login input#apiId, div#controls button#uploadFileButton {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
div#login input#apiHash, div#controls button.middleButton {
  border-bottom: 0;
  border-radius: 0;
}
div#login input#phone, div#controls button#downloadFileButton {
    margin-top: -1px;
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
div#login .form-control:focus, div#controls button:hover {
    z-index: 2;
}